@font-face {
    font-family: 'newLang';
    src: url('C4b-Regular.otf');
    font-family: 'titleFont';
    src: url('Beauty and the Beast Sample.otf');
}

div.a {
    font-size: 300px;
}

h1 {
  font-family: 'titleFont';
  text-align: center;
  font-size: 50px;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#grad1 {
  background: -webkit-linear-gradient(left, #ec2F4B, #009FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
